<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/customer.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/customers.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="tableContainer">
        <table border="1px" cellpadding="10px" class="table">
            <tr th:each = "customer : ${customers}">
                <td th:text = ${customer.firstName}></td>
                <td th:text = ${customer.lastName}></td>
                <td th:text = ${customer.phoneNumber}></td>
                <td class="linkToEdit"><img  th:onclick="redirectToEditPage" id = ${customer.id} src="/images/edit.png"></td>
            </tr>
        </table>
    </div>
</body>
</html>